escon-carrier-board/escon-carrier-board-backups/*
escon-carrier-board/escon-carrier-board.kicad_prl


escon-carrier-board/~escon-carrier-board.kicad_pcb.lck
escon-carrier-board/~escon-carrier-board.kicad_sch.lck


escon-carrier-board/fp-info-cache
